spring.application.name=Adventure_Generator

# WEATHER 
weather.api.key=YOUR_OPENWEATHERMAP_API_KEY
# EMAIL
email.api.key = YOUR_SENDGRID_API_KEY

# PostgreSQL database configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/productdb
spring.datasource.username=postgres
spring.datasource.password=yourpassword
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA configurations
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# JWT token
jwt.secret = your_secret_token_here