SPRING.APPLICATION.NAME=Adventure_Generator

# WEATHER 
WEATHER.API.KEY=YOUR_OPENWEATHERMAP_API_KEY
# EMAIL
EMAIL.API.KEY=YOUR_SENDGRID_API_KEY

# PostgreSQL database configuration
SPRING.DATASOURCE.URL=jdbc:postgresql://localhost:5432/productdb
SPRING.DATASOURCE.USERNAME=postgres
SPRING.DATASOURCE.PASSWORD=yourpassword
SPRING.DATASOURCE.DRIVER-CLASS-NAME=org.postgresql.Driver

# JPA configurations
SPRING.JPA.HIBERNATE.DDL-AUTO=update
SPRING.JPA.SHOW-SQL=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# JWT token
JWT.SECRET=your_secret_token_here